<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>Congratulations! You have placed a booking with <%= @host %> at "<%= @booking %>"! (Reservation ID: <%= @reservation_id %>)</h1>
		<p>
			You can see details of your new reservation here: <%= @url %>
		</p>
	</body>
</html>